.join-container {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.join-container button {
  background-color: light-dark(#ededed, #1a1a1a);
}

.join-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.room-list {
  list-style: none;
  padding: 0;
}

.room-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.room-item button {
  margin-top: 0.5rem;
}
